{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h3>This is Patrick Violette's home page on the web</h3>

<div><strong>Check out what I'm up to:</strong></div>
<div class="container pull-left">
  <ul class="nav">
    <li><a href="/blog">Blog</a></li>
    <li><a href="https://github.com/pviolette3">Github</a></li>
    <li><a href="http://www.linkedin.com/pub/patrick-violette/56/983/299/">LinkedIn</a></li>
    <li><a href="https://twitter.com/p_violette">Twitter: @p_violette</a></li>
  </ul>
</div>

{% endblock %}
